#bottom{
    background-color: #34478d !important;
}

#progress{
    width: 80%;
    position: relative;
}

div#timeline1 {
    width: 100%;
    height: 3px;
    background: #BEBFBE;
    display: block;
}

div#seekObj1 {
    position: absolute;
    top: -5px;
    width: 15px;
    height: 9px;
    /* border-radius: 30%; */
    background: #FEFFFE;
    border-radius: 30%;
}

#control_right .progress_volume{
    width: 80%;
    height: 10px;
    background-color: red;
    border-width: 12px;
}
