/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.owl-slider{
    position: relative !important;
    margin-top: 2rem;
} 

.owl-slider .owl-nav {
    position: absolute !important;
    right: 0 !important;
    top: -41px !important;
}

.dropdown-menu {
    border-radius: 10%;
}


#carousel > div.owl-nav.disabled{
    display: block !important;
}
#carousel > div.owl-nav > button.owl-prev.disabled{
    
}


.news-wrap {
    width: 100%;
    padding: 30px 0;
}

.news-grid {
    /* width: auto; */
    position: relative;
    /* background: #fff; */
    border-radius: 5px;
    /* overflow: hidden; */
    /* border: 1px solid #ddd; */
    /*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
    margin: 10px;
}

.news-grid-image {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border: 2px solid white;
}

.news-grid-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    position: relative;
}



.news-grid-txt {
    padding: 0 1rem;
}

.news-grid-txt p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 15px;
    padding: 0 !important;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-weight: bold;
}

.hide_img {
    display: none !important ;
}


.news-grid:hover .hide_img {
    display: block !important;
    
}

.news-grid:hover .news-grid-image .audio-img {
    text-decoration-line: none;
    letter-spacing: 2px;
    transition: .5s;
    /* display: block; */
}
