* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* text-align: center; */
  font-size: 13px;
  color: white;
}
i {
  color: white;
  width: fit-content;
}
body {
  background-color: #1d375a;
}
body .container-fluid {
  padding: 60px 0 60px 180px;
}

.bg_color {
  /* background-color: #294162; */
  /* background-color: #294162; */
  background-color: rgb(52,71,141, 0.8);
}
a {
  text-decoration: none !important;
  color: white;
}
p {
  color: white;
}

#left > div > ul > li:nth-child(4) > a {
  background-color: #677aab;
  /* opacity: .2; */
  box-shadow: none;
  border-radius: 25px;
}

.container-fluid {
  height: 100vh;
  width: 100%;
  position: relative;
}

#song_cate .silder{
  margin-top: 44px;
}



@media only screen and (max-width: 1400px) {
 
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: violet;
  }
  .hide_1000 {
    display: none;
  }

  
/* /////center */
  body .container-fluid {
    padding-left: 75px !important;
    transition: .2s;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: grey;
  }
  #scroll_left {
    min-height: 276px;
    /* border: 2px red solid; */
    overflow-y: scroll;
  }
}
