    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        /* text-align: center; */
        color: white;
    }
    
    a {
        text-decoration: none !important;
        color: white;
    }
    
    .flex-left {
        position: fixed;
        top: 56px;
        /* right: 0; */
        left: 0;
        z-index: 1030;
    }
    
    body,
    .bg-img {
        /* background-image: url("./img/podcasting-gear.jpeg"); */
        /* background-image: url("img/upload/podcasting-gear.jpeg");
    background-attachment: fixed;
    background-position: center; */
        background-color: #1D375A !important;
    }
    
    .container-fluid {
        height: 100vh;
        width: 100%;
        position: relative;
    }
    
    .bg {
        background-color: #294162 !important;
    }
    
    #left {
        position: absolute;
        top: 0;
        margin-top: 56px;
        /* z-index: 1000; */
    }
    
    #left ul li a {
        /* margin: 0px; */
        padding: 0px !important;
    }
    
    #cneter {
        margin-left: 12rem;
    }
    

    
    .form-control {
        margin: 0 5px 0 50px !important;
        /* display: block; */
        width: 700px !important;
    }
    