.green-audio-player .volume .volume__controls {
  width: 135px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 2;
  outline: none;
}
.green-audio-player .volume .volume__controls.top {
  bottom: 46px;
  left: -80px;
}
.green-audio-player .volume .volume__controls .volume__slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 110px;
  border-radius: 3px;
}

.green-audio-player .slider {
  flex-grow: 1;
  background-color: #d8d8d8;
  cursor: pointer;
  position: relative;
}
.green-audio-player .volume .volume__controls .volume__slider .volume__progress {
  bottom: 0;
  height: 6px;
  width: 110px;
}
.green-audio-player .slider .gap-progress {
  background-color: #44bfa3;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}
.green-audio-player .slider .gap-progress .pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #44bfa3;
  position: absolute;
  pointer-events: all;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 32%);
}
.green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
  left: -5px;
  top: -6px;
}
.green-audio-player .slider .gap-progress .pin::after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0);
  width: 200%;
  height: 200%;
  margin-left: -50%;
  margin-top: -50%;
  border-radius: 50%;
}
.green-audio-player .controls {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #55606e;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
}
.green-audio-player {
  width: 400px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 7%);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  user-select: none;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
}